<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    {% if user.is_authenticated %}
    <h3>Hush kelibsiz, {{ user.username }}!</h3>
    <hr>
    <h2>Maqolalar:</h2><a href="/newArticle/">Yangi maqola</a>
    <ul>
        {% for article in maqolalar %}
        <li><a href="/maqola/{{ article.id }}">{{ article.sarlavha }}</a></li>
        {% endfor %}
    </ul>
    <hr>

    <a href="/logout">Logout</a>
    {% else %}
    <hr>
    <a href="/login/">Login</a>
    <br>
    <a href="/register/">Register</a>
    <hr>
    {% endif %}

</body>
</html>
